# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

[*.{scala,py}]
charset = utf-8
indent_style = tab
indent_size = 4

[*.{asm,rc8}]
indent_style = tab
indent_size = 8

[Makefile]
indent_style = tab
