.bsp/
.metals/
.vscode/configurationCache.log
.vscode/dryrun.log
.vscode/targets.log
*.xreport
boards/mega65/ip/*/*_sim_netlist.v
boards/mega65/ip/*/*_sim_netlist.vhdl
boards/mega65/ip/*/*_stub.v
boards/mega65/ip/*/*_stub.vhdl
boards/mega65/ip/*/*.dcp
boards/mega65/ip/*/doc/
boards/mega65/ip/*/hdl/
boards/mega65/ip/*/misc/
boards/mega65/ip/*/sim/
boards/mega65/ip/*/simulation/
boards/mega65/ip/*/summary.log
boards/mega65/ip/*/synth/
boards/mega65/ip/Clocks/Clocks_board.xdc
boards/mega65/ip/Clocks/Clocks_clk_wiz.v
boards/mega65/ip/Clocks/Clocks_ooc.xdc
boards/mega65/ip/Clocks/Clocks.v
boards/mega65/ip/Clocks/Clocks.xdc
boards/mega65/ip/Clocks/mmcm_pll_drp_func_7s_mmcm.vh
boards/mega65/ip/Clocks/mmcm_pll_drp_func_7s_pll.vh
boards/mega65/ip/Clocks/mmcm_pll_drp_func_us_mmcm.vh
boards/mega65/ip/Clocks/mmcm_pll_drp_func_us_pll.vh
boards/mega65/ip/Clocks/mmcm_pll_drp_func_us_plus_mmcm.vh
boards/mega65/ip/Clocks/mmcm_pll_drp_func_us_plus_pll.vh
boards/mega65/Mega65Hc800.cache/
boards/mega65/Mega65Hc800.hw/
boards/mega65/Mega65Hc800.ip_user_files/
boards/mega65/Mega65Hc800.runs/
boards/mega65/Mega65Hc800.sim/
boards/mega65/Mega65Hc800.srcs/
boards/specnext/ISE/_ngo/
boards/specnext/ISE/_xmsgs/
boards/specnext/ISE/HC800_SpecNext.gise
boards/specnext/ISE/ip/AttributeMemory/_xmsgs/
boards/specnext/ISE/ip/PaletteMemory/_xmsgs/
boards/specnext/ISE/ip/ScanlineMemory/_xmsgs/
boards/specnext/ISE/ip/SystemClocks/_xmsgs/
boards/specnext/ISE/par_usage_statistics.html
boards/specnext/ISE/SpecNextTop_bitgen.xwbt
boards/specnext/ISE/SpecNextTop_envsettings.html
boards/specnext/ISE/SpecNextTop_guide.ncd
boards/specnext/ISE/SpecNextTop_map.map
boards/specnext/ISE/SpecNextTop_map.mrp
boards/specnext/ISE/SpecNextTop_map.ncd
boards/specnext/ISE/SpecNextTop_map.ngm
boards/specnext/ISE/SpecNextTop_map.xrpt
boards/specnext/ISE/SpecNextTop_ngdbuild.xrpt
boards/specnext/ISE/SpecNextTop_pad.csv
boards/specnext/ISE/SpecNextTop_pad.txt
boards/specnext/ISE/SpecNextTop_par.xrpt
boards/specnext/ISE/SpecNextTop_summary.html
boards/specnext/ISE/SpecNextTop_summary.xml
boards/specnext/ISE/SpecNextTop_usage.xml
boards/specnext/ISE/SpecNextTop_xst.xrpt
boards/specnext/ISE/specnexttop.bgn
boards/specnext/ISE/specnexttop.bit
boards/specnext/ISE/SpecNextTop.bld
boards/specnext/ISE/SpecNextTop.cmd_log
boards/specnext/ISE/specnexttop.drc
boards/specnext/ISE/SpecNextTop.lso
boards/specnext/ISE/SpecNextTop.ncd
boards/specnext/ISE/SpecNextTop.ngc
boards/specnext/ISE/SpecNextTop.ngd
boards/specnext/ISE/SpecNextTop.ngr
boards/specnext/ISE/SpecNextTop.pad
boards/specnext/ISE/SpecNextTop.par
boards/specnext/ISE/SpecNextTop.pcf
boards/specnext/ISE/SpecNextTop.prj
boards/specnext/ISE/SpecNextTop.ptwx
boards/specnext/ISE/SpecNextTop.stx
boards/specnext/ISE/SpecNextTop.syr
boards/specnext/ISE/SpecNextTop.twr
boards/specnext/ISE/SpecNextTop.twx
boards/specnext/ISE/SpecNextTop.unroutes
boards/specnext/ISE/SpecNextTop.ut
boards/specnext/ISE/SpecNextTop.xpi
boards/specnext/ISE/SpecNextTop.xst
boards/specnext/ISE/usage_statistics_webtalk.html
boards/specnext/ISE/webtalk_pn.xml
boards/specnext/ISE/webtalk.log
boards/specnext/ISE/xlnx_auto_0_xdb/
firmware/_image_/
firmware/.metals/metals.h2.db
firmware/.metals/metals.log
firmware/.vscode/configurationCache.log
firmware/.vscode/dryrun.log
firmware/.vscode/targets.log
firmware/**/.d/*
firmware/**/*.list
firmware/**/*.map
firmware/**/*.obj
firmware/**/*.sym
firmware/ascii/ascii
firmware/ascii/ascii.com
firmware/bios/bios.bin
firmware/boot/boot.bin
firmware/boot/boot.list
firmware/devices/devices
firmware/dir/dir
firmware/firmlib/firm.lib
firmware/gfxtest/gfxtest
firmware/hd.img
firmware/kernel/kernel.bin
firmware/mathtest/mathtest
firmware/monitor/monitor.com
firmware/reset/reset
firmware/stdlib/std.lib
firmware/type/type
firmware/volumes/volumes
mist/.qsys_edit/
mist/*.bak
mist/db/
mist/hc800_mist.v*
mist/incremental_db/
mist/ip/greybox_tmp/
mist/output_files/
mist/output_files/hc800.flow.rpt
mist/output_files/hc800.map.rpt
mist/output_files/hc800.map.smsg
mist/output_files/hc800.map.summary
mist/PLLJ_PLLSPE_INFO.txt
mist/simulation/modelsim/
mist/top.v
rtl/.bloop
rtl/.metals
rtl/null/
rtl/project/
rtl/project/metals.sbt
rtl/RC811.v
rtl/RC811.v_toplevel_decodeArea_decoderUnit_decoder_1_signalMem.bin
rtl/simWorkspace/
rtl/target/
rtl/tmp/
rtl/verbose.log
specnext/hc800_zxnext.v*
specnext/ISE/ip/SystemClocks/coregen.log
specnext/ISE/ip/SystemClocks/edit_SystemClocks.tcl
specnext/ISE/ip/SystemClocks/SystemClocks_flist.txt
specnext/ISE/ip/SystemClocks/SystemClocks_xmdf.tcl
specnext/ISE/ip/SystemClocks/SystemClocks/
specnext/ISE/ip/SystemClocks/tmp/
specnext/ISE/xst/work/work.sdbl
specnext/ISE/xst/work/work.sdbx
specnext/ISE/xst/work/work.vdbl
specnext/ISE/xst/work/work.vdbx
