target/scala-2.12
target/streams
firmware/bios/bios.bin
firmware/**/.d/*
firmware/**/*.obj
firmware/**/*.sym
spinal/.metals
spinal/.bloop
spinal/project/metals.sbt
spinal/verbose.log
spinal/project/
spinal/target/
specnext/ISE/_xmsgs/
firmware/ascii/ascii.com
firmware/_image_/
firmware/kernel/kernel.bin
firmware/monitor/monitor.com
firmware/stdlib/std.lib
specnext/ISE/HC800_SpecNext.gise
specnext/ISE/par_usage_statistics.html
specnext/ISE/specnexttop.bgn
specnext/ISE/specnexttop.bit
specnext/ISE/SpecNextTop.bld
specnext/ISE/SpecNextTop.cmd_log
specnext/ISE/specnexttop.drc
specnext/ISE/SpecNextTop.lso
specnext/ISE/SpecNextTop.ncd
specnext/ISE/SpecNextTop.ngc
specnext/ISE/SpecNextTop.ngd
specnext/ISE/SpecNextTop.ngr
specnext/ISE/SpecNextTop.pad
specnext/ISE/SpecNextTop.par
specnext/ISE/SpecNextTop.pcf
specnext/ISE/SpecNextTop.prj
specnext/ISE/SpecNextTop.ptwx
specnext/ISE/SpecNextTop.stx
specnext/ISE/SpecNextTop.syr
specnext/ISE/SpecNextTop.twr
specnext/ISE/SpecNextTop.twx
specnext/ISE/SpecNextTop.unroutes
specnext/ISE/SpecNextTop.ut
specnext/ISE/SpecNextTop.xpi
specnext/ISE/SpecNextTop.xst
specnext/ISE/SpecNextTop_bitgen.xwbt
specnext/ISE/SpecNextTop_envsettings.html
specnext/ISE/SpecNextTop_guide.ncd
specnext/ISE/SpecNextTop_map.map
specnext/ISE/SpecNextTop_map.mrp
specnext/ISE/SpecNextTop_map.ncd
specnext/ISE/SpecNextTop_map.ngm
specnext/ISE/SpecNextTop_map.xrpt
specnext/ISE/SpecNextTop_ngdbuild.xrpt
specnext/ISE/SpecNextTop_pad.csv
specnext/ISE/SpecNextTop_pad.txt
specnext/ISE/SpecNextTop_par.xrpt
specnext/ISE/SpecNextTop_summary.html
specnext/ISE/SpecNextTop_summary.xml
specnext/ISE/SpecNextTop_usage.xml
specnext/ISE/SpecNextTop_xst.xrpt
specnext/ISE/usage_statistics_webtalk.html
specnext/ISE/webtalk.log
specnext/ISE/webtalk_pn.xml
specnext/ISE/ip/AttributeMemory/_xmsgs/
specnext/ISE/ip/PaletteMemory/_xmsgs/
specnext/ISE/ip/ScanlineMemory/_xmsgs/
specnext/ISE/ip/SystemClocks/_xmsgs/
specnext/ISE/_ngo/
specnext/ISE/xlnx_auto_0_xdb/
*.xreport
specnext/ISE/xst/work/work.sdbl
specnext/ISE/xst/work/work.sdbx
specnext/ISE/ip/SystemClocks/SystemClocks/
specnext/ISE/ip/SystemClocks/tmp/
specnext/ISE/ip/SystemClocks/coregen.log
specnext/ISE/ip/SystemClocks/edit_SystemClocks.tcl
specnext/ISE/ip/SystemClocks/SystemClocks_flist.txt
specnext/ISE/ip/SystemClocks/SystemClocks_xmdf.tcl
specnext/ISE/xst/work/work.vdbl
specnext/ISE/xst/work/work.vdbx
firmware/firmlib/firm.lib
mist/db/
mist/.qsys_edit/
mist/ip/greybox_tmp/
mist/output_files/hc800.flow.rpt
mist/output_files/hc800.map.smsg
mist/output_files/hc800.map.summary
mist/output_files/hc800.map.rpt
mist/*.bak
mist/incremental_db/
mist/output_files/
mist/simulation/modelsim/
.bsp/
spinal/null/
spinal/simWorkspace/
spinal/tmp/
firmware/boot/boot.bin
firmware/ascii/ascii
firmware/mathtest/mathtest
mist/hc800_mist.v*
specnext/hc800_zxnext.v*
mist/PLLJ_PLLSPE_INFO.txt
mist/top.v
firmware/devices/devices
firmware/volumes/volumes
firmware/dir/dir
spinal/RC811.v
spinal/RC811.v_toplevel_decodeArea_decoderUnit_decoder_1_signalMem.bin
.metals/
firmware/.metals/metals.h2.db
firmware/.metals/metals.log
firmware/type/type
firmware/reset/reset
