[submodule "firmware/lowlevel"]
	path = firmware/lowlevel
	url = https://github.com/QuorumComp/hc800-lowlevel.git
	branch = main
[submodule "firmware/stdlib"]
	path = firmware/stdlib
	url = https://github.com/QuorumComp/hc800-stdlib.git
	branch = main
[submodule "rtl/hc800"]
	path = rtl/rc800
	url = https://github.com/QuorumComp/rc800.git
